<div class="heading">
    <a href="/#"><img class="header-icon" src="http://www.iconarchive.com/download/i85639/graphicloads/100-flat/zoom-search-2.ico" alt="Spotify search icon"></a>
    <div class="search" ng-controller="viewCtrl">
        <i class="material-icons">search</i> 
        <input ng-model="stringSearch"  ng-change="viewCtrl.changeView('/results')" type=search class="input-search" placeholder="Type the name of your favorite artist">
    </div>
</div>

<div class="main" ng-controller="albumCtrl" >
    <div class="one-album-container">
        <div class="one-album-data">
            <div class="one-album-img">
                <img class="one-alb-img" ng-src="{{albumCtrl.currentAlbum.imgs[0].url}}" alt="{{albumCtrl.currentAlbum.name}}">
            </div>

            <div class="one-album-text">
                <h1>{{albumCtrl.currentAlbum.name}}</h1>
                <p class="description"><strong>{{albumCtrl.currentAlbum.artists[0].name}} - {{albumCtrl.currentAlbum.year}}</strong></p>
            </div>
        </div>

        <div class="rute">          
            <p><a href="/">Home</a> > <a href="/results">Artists</a> > <a href="/artist/{{albumCtrl.currentAlbum.artists[0].id}}">{{albumCtrl.currentAlbum.artists[0].name}}</a> > <a href="">{{albumCtrl.currentAlbum.name}}</a></p>
        </div>
    </div>
    <div class="songs-container">

        <h2>Albums</h2>
        
<!--         <h5 ng-hide="artistCtrl.currentArtist.albumsNotEmpty()">No albums to show</h5>
        
        <div class="album-table" >
            <div class="single-album" ng-repeat="album in artistCtrl.currentArtist.albums">
                <div class="single-album-img">
                    <img class="album-img" ng-src="{{album.images[0].url}}" alt="{{album.name}}">
                </div>
                <div class="single-album-text">
                    <div class="albums-results" ng-click="viewCtrl.changeView('/album/' + album.id)">
                        <h5>{{album.name}}</h5>
                    </div>
                    <p>Year: {{album.year}}</p>     
                </div>
            </div>
        </div> -->
    </div>

</div>

<div class="footer">
    
</div>