<my-heading-bar></my-heading-bar>

<div class="main" ng-controller="artistCtrl" >
	<div class="artist-container">
		<div class="artist-data">
			<div class="artist-img">
				<img class="art-img" ng-src="{{artistCtrl.currentArtist.imgs[0].url}}" alt="{{artistCtrl.currentArtist.name}}">
			</div>

			<div class="artist-text">
				<h1>{{artistCtrl.currentArtist.name}}</h1>
				<p class="description"><strong>{{artistCtrl.currentArtist.genres}}</strong></p>
			</div>
		</div>

		<div class="rute">			
			<p><a href="/">Home</a> > <a href="/results">Artists</a> > <a href="">{{artistCtrl.currentArtist.name}}</a></p>
		</div>
	</div>
	<div class="albums-container">

		<h2>Albums</h2>
		
		<h5 ng-hide="artistCtrl.currentArtist.albumsNotEmpty()">No albums to show</h5>
		
		<div class="album-table" >
			<div class="single-album" ng-repeat="album in artistCtrl.currentArtist.albums">
				<div class="single-album-img">
					<img class="album-img" ng-src="{{album.images[0].url}}" alt="{{album.name}}">
				</div>
				<div class="single-album-text">
					<div class="albums-results" ng-click="viewCtrl.changeView('/album/' + album.id)">
						<h5>{{album.name}}</h5>
					</div>
					<p>Year: {{album.year}}</p>		
				</div>
			</div>
		</div>
	</div>

</div>

<div class="footer">
	
</div>