<div class="heading">
	<a href="/#"><img class="header-icon" src="http://www.iconarchive.com/download/i85639/graphicloads/100-flat/zoom-search-2.ico" alt="Spotify search icon"></a>
</div>

<div class="main" ng-controller="favCtrl">
	<div class="main-search*-container">
		<p>Welcome to</p>
		<h1>Spotisearch</h1>

		<p class="description">Search your favorite songs over Spotify, just enter an artist's name in the following search box and enjoy!</p>

		<div class="search">
			<i class="material-icons">search</i> 
			<input type=search class="input-search" ng-model="viewCtrl.i_search" placeholder="Type the name of your favorite artist" ng-controller="viewCtrl" ng-change="viewCtrl.changeView('/results')">
		</div>
	</div>
	<div class="favorites-container" ng-show="favCtrl.has_favorites()">
		<h2>Favorites</h2>
		<div class="favorites-table" ng-repeat="song in favCtrl.favorites track by $index">
			<div class="favorite-song">
				<div class="favorite-song-img">
					<img class="fav-img" ng-src="{{song.image.url}}" alt="{{song.name}}">
<!-- 					https://i.scdn.co/image/809c6f28db643023d76b9cb650a8ea59689a3af2 -->
				</div>
				<div class="favorite-song-text">
					<h5>{{song.name}}</h5>
					<p>Artist: {{song.artists[0].name}}</p>
					<p>Album: {{song.album}}</p>
				</div>

			</div>
		</div>


	</div>
</div>

<div class="footer">

</div>
