<div class="heading">
	<a href="/#"><i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
</div>

<div class="main" ng-controller="favCtrl">
	<div class="main-search">
		<p>Welcome to</p>
		<h1>Spotisearch</h1>

		<p class="description">Search your favorite songs over Spotify, just enter an artist's name in the following search box and enjoy!</p>

		<div class="search">
			<i class="material-icons">search</i> 
			<input type=search class="input-search" ng-model="viewCtrl.i_search" placeholder="Type the name of your favorite artist" ng-controller="viewCtrl" ng-change="viewCtrl.changeView('/results')">
		</div>
	</div>
	<div class="fav-container" ng-show="favCtrl.hasFavorites()">
		<h2>Favorites</h2>
		<favorite-song tracks="favCtrl.favorites"></favorite-song>
	</div>

</div>

<div class="footer">

</div>
