<div class="main-container">
	<div class="main-search*-container">
		<p>Welcome to</p>
		<h1>Spotisearch</h1>

		<p class="description">Search your favorite songs over Spotify, just enter an artist's name in the following search box and enjoy!</p>

		<div class="search">
			<i class="material-icons">search</i> 
			<input type=search class="input-search" placeholder="Type the name of your favorite artist" ng-model="i_title">
		</div>		
	</div>
	<div class="favorites-container">
		<h2>Favorites</h2>
		<div class="favorites-table">
			<div class="favorite">
				<h5>Pensar en nada</h5>
				<p>Artist: Los Piojos</p>
				<p>Album: Huracanes en Luna Plateada</p>
			</div>
		</div>
	</div>
</div>
