	input[type=search] {
		display: block;
		margin: 0;
		font-family: 'Droid Sans';
		width: 100%;
		font-size: 1em;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		padding: 0.5em;
		border: solid 1px #549E4D;
		transition: box-shadow 0.3s, border 0.3s;
	}

	input[type=search]:focus {
		outline: none;
	}

	input[type=search]:focus, input[type=search].focus {
		border: solid 1px #707070;
		box-shadow: 0 0 0.5em 1px #549E4D; 
		/*ffffff*/
	}

	.search {
		position: relative;
		width: 97%;
	}

	.search input { 
		text-indent: 2em;
	}

	.search .fa-search {
		position: absolute;
		top: 0.8em;
		left: 0.5em;
	}