
	.search-container {
		width: 100%;
		display: block;
		text-align: left;
	}

	.results-container {
		width: 100%;
		height: 30%;
		display: block;
	}

	.heading .search{
		position: relative;
		text-align: right;
		margin: 0;
		padding: 0; 
		width: 50%;
		display: inline-block;
		float: right;
		margin-right: 
	}
