.heading {
	height: 10%;
	border: 1px solid #549E4D;
	padding-top: 5px;
	text-align: center;
}

.header-icon {
	height: 90%;
	position: relative;
	float: left;
	display: inline-block;
	margin-left: 10px;
}

.main {
	width: 99.8%;
	height: 78%;
	border: 1px solid #549E4D;
	padding: 0px;
	position: absolute;
}

.main-view {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.footer {
	height: 10.5%;
	position: relative;
	display: block;
	border: 1px solid #549E4D;
	top: 487px;
}