	.track-table .name{
		display: inline-block;
		width: 35em;
	}

	.track-table .fav{
		display: inline-block;
	}

	.track-table .track{
		margin-top: 0;
		padding-left: 1.5em;
		height: 3em;
	}

	.track-table .track:hover, .track-table .track:focus, .track-table .track:active {
		background-color: rgba(255, 255, 255, 0.4);
		cursor: pointer;
	  	cursor: hand;
	}

	cd .cdTable{
		overflow-y: scroll;
		height: 300px;
	}

	cd .cdName:hover, cd .cdName:focus, cd .cdName:active {
		background-color: rgba(255, 255, 255, 0.4);
		cursor: pointer;
	  	cursor: hand;
	}

	cd .cdName {
		height: 3em;
	}

	cd .cdName h4{
		position: relative;
		vertical-align: center;
		margin-left: 1.5em;
		display: inline-block;
		width: 90%;
	}

	cd .cdName .fa-caret-up{
		display: inline-block;
		float: right;
		margin-right: 1.5em;
	}

	cd .cdName .fa-caret-down{
		display: inline-block;
		float: right;
		margin-right: 1.5em;
	}

	.track-table {
		padding-left: 3em;
	}