.album-table {
	overflow-y: scroll;
	height: 200px;
}

.single-album {
	display: inline-block;
	float: left;
	width: 33%;
}

.one-alb-img {
	width: 100px;
	position: relative;
	top: 25px;
}

.one-album-img {
	display: inline-block;
}

.one-album-container {
	height: 30%;
}

.one-album-text {
	margin-left: 5px;
	display: inline-block;
}

.one-album-img {
	width: 100px;
}

.album-container{
	height: 60%;
}

.single-album-img {
	display: inline-block;
}

.single-album-text {
	margin-left: 5px;
	display: inline-block;
}

.one-album-data {
	margin: 50px;
}
