
	html {
		font-family: 'Droid Sans';
		font-size: 1em;
	}

	body {
		background-image: url('http://colrd.com/misc/library/pattern/DinPattern/coaster.gif');
		background-attachment: fixed;
	}

	.container {
		width: 96.5%;
		height: 93%;
		position: absolute;
		padding: 1em;
		background-color: rgba(255, 255, 255, 0.4);
	}
