favorite-song .track {
	display: inline-block;
	float: left;
	width: 32%;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5px;
}

favorite-song .album-table {
	overflow-y: scroll;
	height: 200px;
}

favorite-song .img {
	width: 100px;
	margin: 10px;
}

favorite-song .track-img{
	display: inline-block;
}

favorite-song .track-text{
	margin-left: 5px;
	display: inline-block;
	float: right;
	width: 70%;
}

favorite-song .track {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
favorite-song .track:hover, favorite-song .track:focus, favorite-song .track:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
/*  cursor: pointer;
  cursor: hand;*/
}
