.heading {
	height: 8%;
	padding-top: 5px;
	text-align: center;
}

.fa-spotify {
	position: relative;
	color: black;
	float: left;
	display: inline-block;
	margin-left: 10px;
}

.main {
	width: 99.8%;
	height: 78%;
	padding: 0px;
	position: relative;
}

.main-view {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.footer {
	height: 10.5%;
	position: relative;
	display: block;
}