@media all and (min-width: 1200px) {
	favorite-song .track {
		display: inline-block;
		float: left;
		width: 32%;
		background-color: rgba(255, 255, 255, 0.4);
		margin: 5px;
		height: 130px;
	}

	favorite-song .table {
		overflow-y: scroll;
		position: absolute;
		height: 45%;
	}

	favorite-song .img {
		width: 100px;
		margin: 10px;
	}

	favorite-song .track-img{
		display: inline-block;
		text-align: left;
	}

	favorite-song .track-text{
		display: inline-block;
		text-align: left;
		width: 65%;
		vertical-align: top;
		font-size: 0.8em;
	}

	favorite-song .track {
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	favorite-song .track:hover, favorite-song .track:focus, favorite-song .track:active {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	/*  cursor: pointer;
	  cursor: hand;*/
	}

	favorite-song .track .fa-times{
		position: relative;
		display: inline-block;
		float: right;
		top: 0.2em;
		left: -0.5em;
	}
}

@media all and (min-width: 800px) and (max-width: 1199px) {
	favorite-song .track {
		display: inline-block;
		float: left;
		width: 48%;
		background-color: rgba(255, 255, 255, 0.4);
		margin: 5px;
		height: 130px;
	}

	favorite-song .table {
		overflow-y: scroll;
		position: absolute;
		height: 45%;
	}

	favorite-song .img {
		width: 100px;
		margin: 10px;
	}

	favorite-song .track-img{
		display: inline-block;
		text-align: left;
	}

	favorite-song .track-text{
		display: inline-block;
		text-align: left;
		width: 65%;
		vertical-align: top;
		font-size: 0.8em;
	}

	favorite-song .track {
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}

	favorite-song .track:hover, favorite-song .track:focus, favorite-song .track:active {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	/*  cursor: pointer;
	  cursor: hand;*/
	}
}

@media all and (min-width: 100px) and (max-width: 799px) {
	favorite-song .track {
		display: inline-block;
		float: left;
		width: 98%;
		background-color: rgba(255, 255, 255, 0.4);
		margin: 5px;
		height: 130px;
	}

	favorite-song .table {
		overflow-y: scroll;
		position: absolute;
		margin-right: 20px;
		height: 45%;
	}

	favorite-song .img {
		width: 100px;
		margin: 5px;
	}

	favorite-song .track-img{
		display: inline-block;
		text-align: left;
	}

	favorite-song .track-text{
		display: inline-block;
		text-align: left;
		width: 65%;
		vertical-align: top;
		font-size: 1em;
		line-height: 1em;
	}

	favorite-song .track {
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}

	favorite-song .track:hover, favorite-song .track:focus, favorite-song .track:active {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	/*  cursor: pointer;
	  cursor: hand;*/
	}
}